body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 13pt;
}

.App {
  text-align: center;
}

h1 {
  margin: 150px auto 10px;
}

table {
  margin: 0 auto;
  border: 1px solid silver;
  border-collapse: collapse;
}

td {
  border: 1px solid silver;
  padding: 20px 30px;
  cursor: pointer;
  background-color: #e0e0e0;
}

tr td:last-child {
  background-color: #f5913e;
}

caption {
  background-color: #858694;
  height: 50px;
}

caption > input {
  text-align: end;
  width: 95%;
  height: 40px;
  margin: 3px 0;
  font-size: 15pt;
  background-color: #858694;
  border: 0;
  color: #fff;
}
