body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 13pt;
}

.App {
  text-align: center;
  display: flex;
  width: 1000px;
  margin: 150px auto 10px;
}

.side-left{border:1px solid silver; border-radius:15px; padding:20px; margin:85px 30px 0; font-size: 23pt;color:silver; font-style: italic;}

table {
  width: 400px;
  margin: 0 auto;
  border: 1px solid silver;
  border-collapse: collapse;
}

caption {
  background-color: #858694;
  height: 40px;
}

caption > .input {
  text-align: end;
  width: 95%;
  height: 30px;
  margin: 3px 0;
  font-size: 15pt;
  background-color: #858694;
  border: 0;
  color: #fff;
}

.showKeypad {
  justify-content: space-between;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.showKeypad > button {
  width: 100px;
  height: 60px;
  font-weight: bold;
  border: 1px solid silver;
}

.showKeypad > button[value="0"] {
  width: 200px;
}

.showKeypad > button[value="÷"],
.showKeypad > button[value="x"],
.showKeypad > button[value="-"],
.showKeypad > button[value="+"],
.showKeypad > button[value="="] {
  background-color: #f5913e;
}
